body {
    background-image: url("fsh-spin.gif");
    background-color: rgb(150, 207, 221);
}

#window-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 98vh;
}

input {
    font: var(--font);
    max-width: 250px;
}